<footer class="page-footer font-small bg-secondary text-dark">

    <div class="container text-center text-md-left">

        <div class="row">

            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <h5 class="font-weight-bold text-uppercase mb-4">
                    Vtt en coeur de garonne
                </h5>

                <p>
                    Une petite association intercommunale est née En Cœur de Garonne.
                    <span>VTT</span>   <spant>TRAIL</spant> <span>TREK</span> EN Cœur De Garonne réunissant des sportifs
                    passionnés en vtt, trail et randonnée.
                </p>
            </div>

            <hr class="clearfix w-100 d-md-none" />
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <h5 class="font-weight-bold text-uppercase mb-4">Liens</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#">Nocturne du Saves</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="{{ path('Actu') }}">Actualités</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="{{ path('Trail') }}">Trail</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="{{ path('Vtt') }}">VTT</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="{{ path('Trek') }}">Trek</a>
                        </p>
                    </li>
                </ul>
            </div>


            <hr class="clearfix w-100 d-md-none" />


            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <h5 class="font-weight-bold text-uppercase mb-4">Contact</h5>

                <ul class="list-unstyled">
                    <!-- <li>
                        <p class="my-2"> Montastruc Saves</p>
                    </li> -->
                    <li>
                        <a href="{{path('contact')}}" class="my-2">Contact</a>

                    </li>
                    <li>
                        <p class="my-2"> 06 51 61 58 96</p>
                    </li>
                </ul>
            </div>


            <hr class="clearfix w-100 d-md-none" />

            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                <h5 class="font-weight-bold text-uppercase mb-4">Nous suivre</h5>

                <a href="https://www.facebook.com/vttencoeurdegaronne/" target="_blank">
                    <img src="{{ asset('images/imagesAutre/facebook.png') }}"
                        class="_imgFacebook nav-link m-1 p-0 rounded-pill mx-auto" alt="logo_facebook" />
                </a>

                <a href="https://www.facebook.com/vttencoeurdegaronne/" target="_blank">
                    <img src="{{ asset('images/imagesAutre/se.png') }}"
                        class="_imgFacebook nav-link m-1 p-0 rounded-pill mx-auto" alt="logo_sport_easy" />
                </a>

                <a href="https://www.facebook.com/vttencoeurdegaronne/" target="_blank">
                    <img src="{{ asset('images/imagesAutre/strava.png') }}"
                        class="_imgFacebook nav-link m-1 p-0 rounded-pill mx-auto" alt="strava" />
                </a>

            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="#">Riot Nicolas</a>
    </div>
</footer>