{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}
{% block monTitle %}{{post.title}} - {{post.category.name}} {% endblock %}




{% block body %}
<!-- ======================================================================= -->
<!-- message flash -->
<!-- ======================================================================= -->
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}

<h1>show one post</h1>

<h1>Le {{post.createdAt | date}}</h1>
<h2>{{post.subTitle}}</h2>
<p>{{post.content}}</p>
<!-- <h4>{{post.category.name}}</h4> -->
<a href="/category/{{post.category.name}}"><button type="button" class="btn btn-warning">retour</button></a>

<div class="row">
    {% for photo in post.photos %}
    <img src="{{asset('images/post/'~ photo.url)}}" alt="{{photo.alt}}">
{% endfor %}

</div>


<!-- ======================================================================= -->
<!-- form commentaire  -->
<!-- ======================================================================= -->

{% if app.user %}

    <h2> {{post.comments | length}} Commentaires : </h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    <button class="btn btn-success">Commenter</button>
    {{form_end(form)}}

{% endif %}



{% for com in post.comments %}

<h3>{{com.user.username}}</h3>
<p>commentaire du {{com.createdAd | date}}</p>
<p>{{com.comment}}</p>

    
{% endfor %}


    

{% endblock %}
