{% extends 'base.html.twig' %}

{% block title %}{{post.title}} | {{parent()}}{% endblock %}
{% block monTitle %}{{post.title}}{% endblock %}




{% block body %}
<!-- ======================================================================= -->
<!-- message flash -->
<!-- ======================================================================= -->
{% for message in app.flashes('ok') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}
{% for message in app.flashes('pasOk') %}
<div class="alert alert-danger">
    {{message}}
</div>
{% endfor %}



<div class="row border-bottom border-light m-5">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 p-5 d-flex flex-column justify-content-center">
        <h1>Le {{post.createdAt | date("d/m/Y", "Europe/Paris")}}</h1>
        <h2>{{post.subTitle}}</h2>
        <p>{{post.content}}</p>
        <!-- <h4>{{post.category.name}}</h4> -->
        <a href="/category/{{post.category.name}}"><button type="button" class="btn btn-warning ">retour</button></a>
    </div>



    <!-- =================================================================== -->
    <!-- caroussel -->
    <!-- =================================================================== -->



    {# si une seule photo pas de caroussel #}
    {% if post.photos |length == 1 %}
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 p-5">
        {% for photo in post.photos %}
            <div class="img-fluid">
                <img src="{{asset('images/post/'~ photo.url)}}" alt="{{photo.alt}}" class="d-block w-100  _photoCaroussel">
            </div>
        {% endfor %}
    </div> 
    
    {# caroussel si photo>0 #}
    {% else %}
        

        {% if post.photos %}
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 p-5">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for photo in post.photos %}
                <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %} img-fluid">
                    <img src="{{asset('images/post/'~ photo.url)}}" alt="{{photo.alt}}" class="d-block w-100  _photoCaroussel">
                </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
        {% endif %}

    {% endif %}

</div>




<!-- ======================================================================= -->
<!-- form commentaire  -->
<!-- ======================================================================= -->

<div class="row justify-content-center">
<div class="col-xl col-lg col-md-0 col-sm-0 col-0"></div>    
<div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 p-5">
{% for com in post.comments %}
<div class=" border-bottom border-light m-4">
    {% if com.user.photo %}
    <img src="{{asset('images/imagesUsers/'~ com.user.photo)}}" alt="avatar User" class="_profileImgCom m-4">
    {% endif %}

    <h4 class="d-inline">{{com.user.username}}</h4>
        <p class="d-inline ml-5">Commentaire du {{com.createdAd | date("d/m/Y", "Europe/Paris")}} :</p>
        <p class="text-justify _pfont">{{com.comment}}</p>
    <div class="btn-group">


        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
            {% if app.user.username == com.user.username or is_granted('ROLE_ADMIN') %}
            
            <a href="{{path('comment_edit',{'id':com.id})}}" class="btn btn-warning p-1">modifier</a>

            <form method="POST" action="{{path('comment_sup',{"id":com.id})}}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer le message ?')">
                <input type="hidden" name="_method" value="sup">
                <input type="hidden" name="_token" value="{{csrf_token('sup' ~ com.id)}}" >
                <input type="submit" class="btn btn-danger p-1 " value="supprimer">
            </form>
            
            
            {% endif %}
        
        {% endif %}
        
        

    </div>
</div>    
{% endfor %}
</div>
<div class="col"></div>
</div>

<div class="row">
<div class="col-xl col-lg col-md-0 col-sm-0 col-0"></div>

{% if app.user %}

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 p-5">
        <h2><i class="far fa-comments"></i> {{post.comments | length}} Commentaires : </h2>
        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-success">Commenter</button>
        {{form_end(form)}}

    {% endif %}
</div>
<div class="col"></div>

</div>



{% endblock %}
