{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block monTitle %}Login{% endblock %}
{% block body %}
<div class="container">
{% if error %}
<dir class="alert alert-danger">
    login et/ou mot de passe ne sont pas corrects
</dir>
{% endif %}

<!-- ======================================================================= -->
<!-- message flash -->
<!-- ======================================================================= -->
{% for message in app.flashes('messages') %}
  <dir class="alert alert-success">
    {{message}}
  </dir>
{% endfor %}

{% for message in app.flashes('warning') %}
  <dir class="alert alert-warning">
    {{message}}
  </dir>
{% endfor %}

{% for message in app.flashes('danger') %}
  <dir class="alert alert-danger">
    {{message}}
  </dir>
{% endfor %}

{% block nav1 %}{% endblock %}
{% block nav2 %}{% endblock %}


<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 col-md-4">

      <div class="card border-info text-center">
        <div class="card-header">
            Connexion
        </div>
        <div class="card-body">
          <img src="{{asset('images/imagesAutre/logoVTT.jpg')}}" class="img-fluid">
          <h4 class="text-center">Vtt en Coeur de Garonne</h4>
          <form class="form-signin" action="{{path('login')}}" method="POST">
            <input type="text" class="form-control mb-2" placeholder="Pseudo" required autofocus required name="_username" value="{{lastUserName}}">
            <input type="password" class="form-control mb-2" placeholder="Password" required required name="_password">
            <input type="submit" class="btn btn-primary" value="Envoyer">
            <a href="{{path('reset_password')}}" class="float-left">Mot de passe oublié</a>

          </form>
        </div>
      </div>
      <a href="{{path('register')}}" class="float-right">Rejoignez-nous</a>
      <a href="{{path('home')}}" class="float-left">Retour</a>



    </div>
  </div>
</div>


    {% block footer %}{% endblock %}
</div>
{% endblock %}