{% extends 'base.html.twig' %}

{% block title %}Nous rejoindre | {{parent()}}{% endblock %}
{% block monTitle %}Rejoindre VTT en coeur de garonne{% endblock %}

{% block body %}

{{form_start(form)}}
<div class="container">


    <div class="row">
        <div class="col-12 col-md-6 col-xl-6">
            {{form_row(form.name,{
            "attr":{
                "placeholder":"entrer votre Nom"
            },
            "label":"Nom :"
        })}}
            {{form_row(form.prenom,{
            "attr":{
                "placeholder":"entrer votre Prénom"
            },
            "label":"Prénom :"
        })}}

            {{form_row(form.adresse,{
            "attr":{
                "placeholder":"entrer votre adresse"
            },
            "label":" Adresse:"
        })}}

            {{form_row(form.codePostal,{
            "attr":{
                "placeholder":"entrer votre code postal"
            },
            "label":"Code postal :"
        })}}

            {{form_row(form.ville,{
            "attr":{
                "placeholder":"entrer votre ville"
            },
            "label":"Ville :"
        })}}

            {{form_row(form.phone,{
            "attr":{
                "placeholder":"entrer votre numéro de télephone"
            },
            "label":"Numéro de telephone :"
        })}}
        
        {{form_row(form.imageFile,{
            "attr":{
                "placeholder":"Photo profil jpg"
            },
            "label":"Image :"
        })}}
        </div>

        <div class="col-12 col-md-6 col-xl-6">
            {{form_row(form.username,{
            "attr":{
                "placeholder":"entrer votre pseudo"
            },
            "label":"Pseudo :"
        })}}

            {{form_row(form.mail,{
            "attr":{
                "placeholder":"entrer votre adresse mail"
            },
            "label":"Mail :"
        })}}


            {{form_row(form.password,{
            "attr":{
                "placeholder":"entrer votre mot de passe"
            },
            "label":"Mot de passe :"
        })}}

            {{form_row(form.verifPassword,{
            "attr":{
                "placeholder":"Confirmer votre mot de passe"
            },
            "label":"Confirmer votre mot de passe :"
        })}}

            {{form_row(form.catergoryUsers,{
            "attr":{
                "placeholder":"Categories"
            },
            "label":"Categories :"
        })}}

        <input type="submit" class="btn btn-success" value="envoyer">
        </div>
    </div>
</div>
{{form_end(form)}}


{% endblock %}