{% extends 'base.html.twig' %}

{% block title %}Actu | {{parent()}}{% endblock %}
{% block monTitle %}Actualités{% endblock %}
{% block body %}
<div>
    <!-- ======================================================================= -->
    <!-- liste des entrainements -->
    <!-- ======================================================================= -->
    {% include "/partial/section/listeEntrainement.html.twig" %}


    <!-- =================================================================== -->
    <!-- corp de pages -->
    <!-- =================================================================== -->
    <div class="col-6">
        <h2 class="text-center p-3 text-white"></h2>
        <p class="text-justify h4 m-4 text-white">

        </p>
        <img src="{{asset('images/imagesAutre/logoNav.png')}}" alt="logoAsso"
            class="_logoVtt img-fluid d-block mx-auto mb-5">
    </div>

    <!-- =============================================================== -->
    <!-- liste dernier post -->
    <!-- =============================================================== -->
    {% include '/partial/section/ListDernierPost.html.twig' %}

</div>
<div class="row">
    <div class="col"></div>
        <div class="col-6">

            {% for actu in  cat %}
                <!-- <h1>{{actu.name}}</h1> -->
                {% for post in actu.posts %}
                    <div class="border-bottom border-light m-5">
                    <!-- <h1>{{post.id}}</h1> -->
                    <h2 class="text-warning">{{post.title}}</h2>
                    <p "_pfont text-justify">{{post.content}}</p>
                    <a href="{{path('post',{'id':post.id})}}" class="btn btn-success p-2">Voir plus</a>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    <div class="col"></div>
</div>

{% endblock %}