{% extends 'base.html.twig' %}

{% block title %}Actu | {{parent()}}{% endblock %}
{% block monTitle %}Actualités{% endblock %}
{% block body %}
<div>
    <!-- ======================================================================= -->
    <!-- liste des entrainements -->
    <!-- ======================================================================= -->
    {{ render(path('meteo')) }}


    <div>
        <div class="border-top border-light"> 
            <h3 class="p-3 text-center">meteo {{ville}}</h3>
            <form action="" method="GET">

                <input type="text" name="ville" class="mx-auto d-block">
                <button class="btn btn-info p-1 m-1 mx-auto d-block" type="submit">rechercher</button>
            </form>
            
            {% if err %}
            <div class="alert alert-warning p-3 m-3">la ville n'existe pas !!!!</div>
            {% else %}


                {% if meteo %}
            
            <div class="d-flex justify-content-around">
                <img src={{asset(meteo.fcst_day_0.icon)}} alt="icone Meteo" class="d-inline">
                <img src={{asset(meteo.fcst_day_1.icon)}} alt="icone Meteo" class="d-inline">
                <img src={{asset(meteo.fcst_day_2.icon)}} alt="icone Meteo" class="d-inline">
                <img src={{asset(meteo.fcst_day_3.icon)}} alt="icone Meteo" class="d-inline">
                
            </div>
            <div class="d-flex justify-content-around">
                <h6>{{meteo.fcst_day_0.day_short}}</h6>
                <h6>{{meteo.fcst_day_1.day_short}}</h6>
                <h6>{{meteo.fcst_day_2.day_short}}</h6>
                <h6>{{meteo.fcst_day_3.day_short}}</h6>
            </div>
                {% endif %}
            
            {% endif %}
        
        </div>
    
    </div>

<!-- attention div fermente du partial entrainement -->
</div>


    <!-- =================================================================== -->
    <!-- corp de pages -->
    <!-- =================================================================== -->
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 _responBoot" id="_main">
        <h2 class="text-center p-3 text-white">Dérnieres news</h2>
        <p class="text-justify h4 m-4 text-white">

        </p>
        <img src="{{asset('images/imagesAutre/logoNav.png')}}" alt="logoAsso"
            class="_logoVtt img-fluid d-block mx-auto mb-5">
    </div>

    <!-- =============================================================== -->
    <!-- liste dernier post -->
    <!-- =============================================================== -->
    {% include '/partial/section/ListDernierPost.html.twig' %}

</div>
<div class="row">
    <div class="col-xl col-lg col-md-0 col-sm-0 col-0"></div>
        <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">

            {% for actu in  cat %}
                <!-- <h1>{{actu.name}}</h1> -->
                {% for post in actu.posts %}
                    <div class="border-bottom border-light m-5">
                    <!-- <h1>{{post.id}}</h1> -->
                    <h2 class="text-warning">{{post.title}}</h2>
                    <p "_pfont text-justify">{{post.content}}</p>
                    <a href="{{path('post',{'id':post.id})}}" class="btn btn-success p-2">Voir plus</a>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    <div class="col"></div>
</div>

{% endblock %}