{% extends 'base.html.twig' %}

{% block title %}Trail | {{parent()}}{% endblock %}
{% block monTitle %}Section Trail{% endblock %}
{% block body %}


<div>
<!-- ======================================================================= -->
<!-- liste des entrainements -->
<!-- ======================================================================= -->
{{ render(path('liste-entrainement')) }}

<!-- api meteo -->
<div>
    <div class="border-top border-light">

        {% include '/partial/section/apiMeteo.html.twig' %}

    
    </div>

</div>

<!-- attention div fermente du partial entrainement -->
</div>


<!-- =================================================================== -->
<!-- corp de pages -->
<!-- =================================================================== -->
<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 _responBoot">
    <!-- <h2 class="text-center p-3 text-white">Section Trail</h2> -->
    <p class="text-justify h5 m-5 text-white">
        Le groupe de Trail est composé d’une vingtaine de personnes allant du débutant jusqu'à l'ultra-traileur...Mais tous, nous nous retrouvons le Lundi et le Mercredi quelque soit le niveau dans nos belles forêts de Rieumes/Lahage afin de pratiquer cette belle discipline en toute décontraction et dans la bonne humeur...L'hiver, nous gardons nos sorties avec la frontale…
Nous utilisons Sporteasy pour programmer nos sorties. Selon nos disponibilités en dehors des 2 entraînements semaine, des sorties sont proposées vers d'autres horizons tel que le Cagire, Mont Vallier, Pic du Tourroc, Pic du Gar, Pic de Sauvegarde entre autres afin de faire du dénivelés toujours en restant dans la bonne humeur…
Certains Vendredi, nous nous rendons sur la piste des Irréductibles Bipèdes de Cazères avec qui nous avons passé une entente pour effectuer des séances de fractionné et inversement…. L'ambiance y est toute aussi bonne…
Beaucoup de projets à venir, avec une course de nuit en Novembre ….
Ca vous tente, sortez vos running du placard et n’hésitez plus, venez nous rejoindre… « Seul on va plus vite, à plusieurs on va plus loin »
    </p>
    <img src="{{asset('images/imagesAutre/logoNav.png')}}" alt="logoAsso"
        class="_logoVtt img-fluid d-block mx-auto mb-5">
</div>

<!-- =============================================================== -->
<!-- liste dernier post -->
<!-- =============================================================== -->
{% include '/partial/section/ListDernierPost.html.twig' %}
</div>
<div class="row">
    <div class="col-xl col-lg col-md-0 col-sm-0 col-0"></div>
    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">

        {% for trail in  cat %}
            <!-- <h1>{{trail.name}}</h1> -->
            {% for post in trail.posts | reverse %}
                <div class="border-bottom border-light m-5">
                    <!-- <h1>{{post.id}}</h1> -->
                    <h2 class = "text-warning">{{post.title}}</h2>
                    <p class= "_pfont ">{{post.content}}</p>
                    <a href="{{path('post',{'slug':post.slug})}}" class="btn btn-success p-2">Voir plus</a>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="col"></div>
        </div>

{% endblock %}