{% extends 'base.html.twig' %}

{% block title %}Treck | {{parent()}}{% endblock %}
{% block monTitle %}Section Trek{% endblock %}

{% block body %}
<div>
    <!-- ======================================================================= -->
    <!-- liste des entrainements -->
    <!-- ======================================================================= -->
    {{ render(path('meteo')) }}

    <!-- api meteo -->
    <div>
        <div>
            <h3 class="p-3">meteo {{ville}}</h3>
            <form action="" method="GET">
                <label for="ville"> Ville :</label>
                <input type="text" name="ville">
                <button class="btn btn-info" type="submit">rechercher</button>
            </form>
        
            <img src={{asset(meteo.current_condition.icon)}} alt="">
        
        </div>
    
    </div>

<!-- attention div fermente du partial entrainement -->
</div>


    <!-- =================================================================== -->
    <!-- corp de pages -->
    <!-- =================================================================== -->
    <div class="col-6">
        <p class="text-justify h4 m-5 text-white">
            La section « Trek », ou trekking, est notre section loisir de randonnée pédestre en montagne (de préférence).
            Dans la mesure du possible et selon la météo, nous faisons une sortie par week-end, le samedi ou le dimanche.
            Aux beaux jours de nombreuses randonnées sont programmées dans les plus beaux endroits dont regorgent nos
            Pyrénées.
            Sur 1, 2 ou 3 jours, nous sommes amené à organiser des séjours dans la joie et la bonne humeur et où chacun est
            le bienvenu.
        </p>
        <img src="{{asset('images/imagesAutre/logoNav.png')}}" alt="logoAsso"
            class="_logoVtt img-fluid d-block mx-auto mb-5">
    </div>

    <!-- =============================================================== -->
    <!-- liste dernier post -->
    <!-- =============================================================== -->
    {% include '/partial/section/ListDernierPost.html.twig' %}
</div>


<div class="row">
    <div class="col"></div>
<div class="col-6 m-5">
{% for trek in  cat %}
<!-- <h1>{{trek.name}}</h1> -->
{% for post in trek.posts %}
        <div class="border-bottom border-light m-5">
<!-- <h1>{{post.id}}</h1> -->
<h2 class="text-warning">{{post.title}}</h2>
<p class="_pfont" >{{post.content}}</p>
<a href="{{path('post',{'id':post.id})}}" class="btn btn-success p-2">Voir plus</a>


</div>
{% endfor %}
{% endfor %}
</div>
<div class="col"></div>
</div>
{% endblock %}