{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}
{% block monTitle %}Vtt{% endblock %}

{% block body %}
    {% for vtt in  cat %}
        <h1>{{vtt.name}}</h1>
            {% for post in vtt.posts %}
                <h1>{{post.id}}</h1>
                <h2>{{post.title}}</h2>
                <p>{{post.content}}</p>
                
                <a href="{{path('post',{'id':post.id})}}" class="btn btn-info">Voir plus</a>

            {% endfor %}
    {% endfor %}


{% endblock %}