{% extends 'base.html.twig' %}

{% block title %}VTT | | {{parent()}}{% endblock %}
{% block monTitle %}Section VTT{% endblock %}

{% block body %}
<div>
<!-- ======================================================================= -->
<!-- liste des entrainements -->
<!-- ======================================================================= -->
{{ render(path('meteo')) }}

    <!-- api meteo -->
    <div>
        <div>
            <h3 class="p-3">meteo {{ville}}</h3>
            <form action="" method="GET">
                <label for="ville"> Ville :</label>
                <input type="text" name="ville">
                <button class="btn btn-info" type="submit">rechercher</button>
            </form>
        
            <img src={{asset(meteo.current_condition.icon)}} alt="">
        
        </div>
    
    </div>

<!-- attention div fermente du partial entrainement -->
</div>



<!-- =================================================================== -->
<!-- corp de pages -->
<!-- =================================================================== -->
<div class="col-6">

    <p class="text-justify h4 m-5 text-white">
        Notre section VTT, encore discrète mais qui ne demande qu’à grandir, permet de découvrir des sentiers forestiers
        tout en alliant l’aspect physique et l’aspect technique de cette discipline.
        Les sorties/entraînements se font le week-end, le samedi ou le dimanche en fonction de la météo. Tous les
        niveaux sont les bienvenus et le groupe ainsi composé de tous les niveaux confondus permet à chacun de
        progresser à son rythme dans une atmosphère amicale.
    </p>
    <img src="{{asset('images/imagesAutre/logoNav.png')}}" alt="logoAsso"
        class="_logoVtt img-fluid d-block mx-auto mb-5">
</div>

<!-- =============================================================== -->
<!-- liste dernier post -->
<!-- =============================================================== -->
{% include '/partial/section/ListDernierPost.html.twig' %}

</div>
<div class="row">
    <div class="col"></div>
    <div class="col-6">

        {% for vtt in  cat %}
            <!-- <h1>{{vtt.name}}</h1> -->
            {% for post in vtt.posts %}
            <div class="border-bottom border-light m-5">
                <!-- <h1>{{post.id}}</h1> -->
                <h2 class="text-warning">{{post.title}}</h2>
                <p class="_pfont ">{{post.content}}</p>

                <a href="{{path('post',{'id':post.id})}}" class="btn btn-success p-2">Voir plus</a>
            </div>    
            {% endfor %}
        {% endfor %}
    </div>
    <div class="col"></div>
</div>

{% endblock %}