{% extends 'base.html.twig' %}

{% block title %}VTT | {{parent()}}{% endblock %}
{% block monTitle %}Section VTT{% endblock %}

{% block body %}
<div>
<!-- ======================================================================= -->
<!-- liste des entrainements -->
<!-- ======================================================================= -->
{{ render(path('liste-entrainement')) }}

    <!-- api meteo -->
    <div>
        <div class="border-top border-light">

            {% include '/partial/section/apiMeteo.html.twig' %}


            {# <h3 class="p-3 text-center">meteo {{ville}}</h3>
            <form action="" method="GET">
                <input type="text" name="ville" class="mx-auto d-block">
                <button class="btn btn-info p-1 m-1 mx-auto d-block" type="submit">rechercher</button>
            </form>

            
            {% if err %}
            <div class="alert alert-warning p-3 m-3">la ville n'existe pas !!!!</div>
            {% else %}

                {% if meteo %}
                

                <div class="d-flex justify-content-around">
                    <img src={{asset(meteo.fcst_day_0.icon)}} alt="icone Meteo" class="d-inline">
                    <img src={{asset(meteo.fcst_day_1.icon)}} alt="icone Meteo" class="d-inline">
                    <img src={{asset(meteo.fcst_day_2.icon)}} alt="icone Meteo" class="d-inline">
                    <img src={{asset(meteo.fcst_day_3.icon)}} alt="icone Meteo" class="d-inline">
                    
                </div>
                <div class="d-flex justify-content-around">
                    <h6>{{meteo.fcst_day_0.day_short}}</h6>
                    <h6>{{meteo.fcst_day_1.day_short}}</h6>
                    <h6>{{meteo.fcst_day_2.day_short}}</h6>
                    <h6>{{meteo.fcst_day_3.day_short}}</h6>
                </div>
                {% endif %}
            
            {% endif %}
             #}

        </div>
    
    </div>

<!-- attention div fermente du partial entrainement -->
</div>



<!-- =================================================================== -->
<!-- corp de pages -->
<!-- =================================================================== -->
<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 _responBoot">

    <p class="text-justify h5 m-5 text-white">
        la section vtt est celle qui regroupe le plus large panel d'adhérents-tes,du simple débutant a l'expérimenté,le groupe a déjà arpenté les pistes de nos différentes forêts de coeur de garonne ,tout comme les pentes du comminge ou des pyrénées .
Que ce soit en "musculaire " ou en "assistance électrique " nos adhérents s'organisent sur les sorties ,les jours et les horaires.
Comme les deux autres sections l'utilisation d'une application permet a chacuns-es de lancer une sortie .
Des sorties spécifiques aux  différentes pratiques (cross country , dh ou enduro).
Nous avons en prévisions des sorties sur un week end avec comme leitmotiv la bonne humeur et convivialité ( devise de l'association).
 En espérant partager des sentiers avec vous toute l'équipe de vtt en coeur de garonne vous souhaite le meilleur.
    </p>
    <img src="{{asset('images/imagesAutre/logoNav.png')}}" alt="logoAsso"
        class="_logoVtt img-fluid d-block mx-auto mb-5">
</div>

<!-- =============================================================== -->
<!-- liste dernier post -->
<!-- =============================================================== -->
{% include '/partial/section/ListDernierPost.html.twig' %}

</div>
<div class="row">
    <div class="col-xl col-lg col-md-0 col-sm-0 col-0"></div>
    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">

        {% for vtt in  cat %}
            <!-- <h1>{{vtt.name}}</h1> -->
            {% for post in vtt.posts %}
            <div class="border-bottom border-light m-5">
                <!-- <h1>{{post.id}}</h1> -->
                <h2 class="text-warning">{{post.title}}</h2>
                <p class="_pfont ">{{post.content}}</p>

                <a href="{{path('post',{'slug':post.slug})}}" class="btn btn-success p-2">Voir plus</a>
            </div>    
            {% endfor %}
        {% endfor %}
    </div>
    <div class="col"></div>
</div>

{% endblock %}