<div class="row border-bottom border-light m-5">
    <div class="col ">
        <h3 class="text-center text-white">Decouvrez nos 3 sections :</h3>
        <div class="d-flex justify-content-center mb-5 ">
            <a href="{{path('Vtt')}}" class="bg-light m-auto p-4 rounded-circle"><img src="{{asset('images/imagesAutre/bike.png')}}" alt="bike" class="img-fluid"></a>
            <a href="{{path('Trail')}}" class="bg-light m-auto p-4 rounded-circle"><img src="{{asset('images/imagesAutre/run.png')}}" alt="running" class="img-fluid"></a>
            <a href="{{path('Trek')}}" class="bg-light m-auto p-4 rounded-circle"><img src="{{asset('images/imagesAutre/hid.png')}}" alt="hid" class="img-fluid"></a>
            

        </div>
    </div>
    
</div>