{% extends 'base.html.twig' %}

{% block title %}Utilisateur | {{parent()}}{% endblock %}
{% block monTitle %}Liste des Utilisateurs{% endblock %}

{% block body %}
<div class="container">

<!-- ======================================================================= -->
<!-- message flash -->
<!-- ======================================================================= -->

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}

{# <a href="{{path('admin.user.create')}}" class="btn btn-info w-100">Ajouter un Utilisateur</a> #}

<div>
    <form action="{{path('admin_users_by_name')}}" method="GET">
        <input type="text" name="user" class="">
        <button class="btn btn-info p-1 m-1 mx-auto " type="submit"><i class="fas fa-search"></i></button>
        <a href="{{path('admin.users')}}" class="btn btn-primary p-1 m-1 mx-auto">Voir Tout</a>
    </form>
</div>

<table class="table m-5">
    <tr>

        <th class="text-info">Pseudo</th>
        <th class="text-info">Nom</th>
        <th class="text-info">Prenom</th>
        <th class="text-info">Adresse</th>
        <th class="text-info">Code postale</th>
        <th class="text-info">Ville</th>
        <th class="text-info">Adresse Mail</th> 
        <th class="text-info">Télephone</th>
        <th class="text-info">Sport</th>
        <th class="text-info">Role</th>
        <th colspan="2" class="text-info">Action</th>

    </tr>
        {% for user in users %}
    <tr>

        <td>{{user.username}}</td>
        <td>{{user.name}}</td>
        <td>{{user.prenom}}</td>
        <td>{{user.adresse}}</td>
        <td>{{user.codePostal}}</td>
        <td>{{user.ville}}</td>
        <td>{{user.mail}}</td> 
        <td>{{user.phone}}</td>

        <td>
            {% for sport in user.catergoryUsers %}
                <div class="d-inline m-1">{{sport.name}}</div>
            {% endfor %}
        </td>
        <td>
            {% for role in user.roles %}
            <div class="d-inline m-1">{{role}}</div>
            {% endfor %}
        </td>


        <td>
            <div class="btn-group">
                <a href="{{path('admin.user.modifier',{"id": user.id})}}" class="btn btn-warning p-1 m-0 d-block">Modifier</a>

                <form method="POST" action="{{path('admin.user.suppr',{"id": user.id})}}" onsubmit="return confirm('etes vous sur ?')">
                    <input type="hidden" name="_method" value="sup">
                    <input type="hidden" name="_token" value="{{csrf_token('sup' ~ user.id)}}" >
                    
                    <input type="submit" class="btn btn-danger p-1 m-0 d-block w-100" value="supprimer">
                </form>
            </div>
        </td>
    </tr>

    {% endfor %}
</table>
{# display navigation #}
<div class="navigation p-5">
    {{ knp_pagination_render(users) }}
</div>
</div>


{% endblock %}