<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.css" />
    <link rel="stylesheet" href="{{asset('css/main.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nocture de ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nous rejoindre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('Actu')}}">Actualités</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto m-3">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{path('admin.post')}}">Post</a>
                        <a class="dropdown-item" href="{{path('admin.users')}}">utilisateurs</a>
                        <a class="dropdown-item" href="{{path('admin.photo')}}">Photos</a>
                        <a class="dropdown-item" href="#">commentaires</a>
                    </div>
                </li>

                <li class="m-3">face</li>
                <li class="m-3">
                    <a href="{{path('login')}}">Login</a>
                </li>
                <li class="m-3">
                    <a href="{{path('logout')}}">déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarColor02">
            <ul class="navbar-nav d-flex justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('Trail')}}">Trail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('Trek')}}">Trek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('Vtt')}}">Vtt</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class=" border border-dark rounded text-white m-4 p-4 text-center bg-success w-70">
        {% block monTitle %}{% endblock %}</h1>
    <div class="container">
        {% block body %}{% endblock %}
    </div>


    {% block javascripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>