{% extends 'base.html.twig' %}

{% block title %}Modif photos | {{parent()}}{% endblock %}
{% block monTitle %}
    {% if modif %}
        Modification {{photo.name}}
        {% else %}
        Ajout d'une nouvelle photo
    {% endif %}
{% endblock %}
    


{% block body %}
<div class="container">

    {{form_start(form)}}
        {{form_row(form.name,{
            "attr":{
                "placeholder":"Titre"
            },
            "label":"Titre"
        })}} 
        
        {{form_row(form.alt,{
            "attr":{
                "placeholder":"Alternative"
            },
            "label":"Alternative"
        })}}

        {{form_widget(form)}}
        <input type="submit" class="btn btn-success" value="Enregistrer">
    {{form_end(form)}}
</div>
{% endblock %}