{% extends 'base.html.twig' %}

{% block title %}Photos | {{parent()}} {% endblock %}
{% block monTitle %}Liste des photos{% endblock %}


{% block body %}
<div class="container">
    <!-- ======================================================================= -->
    <!-- message flash -->
    <!-- ======================================================================= -->

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}

    <!-- ======================================================================= -->
    <!--  Liste des photos a modifier-->
    <!-- ======================================================================= -->

    <a href="{{path('admin.photo.create')}}" class="btn btn-info w-100">Ajouter</a>



    <div class="row no-gutters d-flex justify-content-around">
        {% for photo in photos %}

        <div class="card col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3  P-2 m-3" style="width:400px">
            <img class="card-img-top" src="{{asset('images/post/'~ photo.url)}}" alt="{{photo.alt}}">
            <div class="card-body">
                <h4 class="card-title">{{photo.name}}</h4>
                <p class="card-text">alt : {{photo.alt}}</p>
                    <div class="btn-group mx-auto">
                        <a href="{{path('admin.photo.modifier',{"id": photo.id})}}" class="btn btn-warning">Modifier</a>

                        <form method="POST" class="d-inline" action="{{path('admin.photo.suppr',{'id' : photo.id})}}" onsubmit="return confirm('etes vous sur ?')">
                            <input type="hidden" name="_method" value="sup">
                            <input type="hidden" name="_token" value="{{csrf_token('sup' ~ photo.id)}}" >
                            <input type="submit" class="btn btn-danger w-100" value="supprimer">
                            
                        </form>
                    </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(photos) }}
        </div>
</div>
{% endblock %}