{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}
{% block monTitle %}
    {% if modif %}
        Modification {{post.title}}
        {% else %}
        Ajout d'un nouveau post
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">

    {{form_start(form)}}

    {{form_row(form.title,{
        "attr":{
            "placeholder":"Titre"
        },
        "label":"Titre"
    })}}

    {{form_row(form.subTitle,{
        "attr":{
            "placeholder":"Sous-titre"
        },
        "label":"Sous-titre"
    })}}

    {{form_row(form.content,{
        "attr":{
            "placeholder":"Déscription"
        },
        "label":"Déscription"
    })}}

    {# {{form_widget(form)}} #}
    <input type="submit" class="btn btn-success" value="envoyer">
{{form_end(form)}}

</div>
{% endblock %}
                