{% extends 'base.html.twig' %}

{% block title %}Post |{{parent()}}{% endblock %}
{% block monTitle %}Liste des Posts{% endblock %}

{% block body %}
<div class="container">
    <!-- ======================================================================= -->
    <!-- message flash -->
    <!-- ======================================================================= -->

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}

    <a href="{{path("admin.post.create")}}" class="btn btn-info w-100">Ajouter un post</a>
    <table class="table m-5">
        <tr>
            {# <th>Photos</th> #}
            <th class="text-info">Titre</th>
            <th class="text-info">Categorie</th>
            <th class="text-info">Contenu</th>
            <th class="text-info">Action</th>
        </tr>
            {% for post in posts %}
        <tr>
            {# <td>
                {% for photo in post.photos %}
                <img src="{{photo.url}}" alt="" style="width:100px">
            {% endfor %}
            </td> #}
            <td>{{post.title}}</td>
            <td>{{post.category.name}}</td>
            <td>
                <p>{{post.content | slice(1,40)}} ....</p>  {# slice recupere les caracts de 1 a 100 #}
            </td>
            <td>
                <div class="btn-group">
                    <a href="{{path('admin.post.modifier',{"id":post.id})}}" class="btn btn-warning p-1 m-0 d-block w-100 ">Modifier</a>

                    <form method="POST" action="{{path('admin.post.suppr',{'id':post.id})}}" onsubmit="return confirm('etes vous sur ?')">
                        <input type="hidden" name="_method" value="sup">
                        <input type="hidden" name="_token" value="{{csrf_token('sup' ~ post.id)}}" >
                        <input type="submit" class="btn btn-danger p-1 m-0 d-block w-100 " value="supprimer">
                    </form>
                </div>
            </td>
        </tr>

        {% endfor %}
    </table>
    {# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(posts) }}
</div>
    </div>
{% endblock %}
                


