{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block monTitle %}Profile Utilisateur{% endblock %}
{% block body %}


<!-- ======================================================================= -->
<!-- message flash -->
<!-- ======================================================================= -->
{% for message in app.flashes('ok') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}




<img src="{{asset('images/imagesUsers/' ~ user.photo)}}" class="_profileImg mx-auto d-block m-4" alt="" >
<div class="row">
    <div class="col-6 d-flex flex-column justify-content-center align-items-center p-4">
        <h4>Nom : {{user.name}}</h4>
        <h4>Prenom : {{user.prenom}}</h4>
        <h4>Tél : {{user.phone}}</h4>

    </div>
    <div class="col-6 d-flex flex-column justify-content-center align-items-center p-4">
        <h4>Adresse : {{user.adresse}}</h4>
        <h4>Ville : {{user.ville}}</h4>
        <h4>Code postal :{{user.codePostal}} </h4>
        

    </div>
</div>

<a href="{{path('user_gestion')}}" class="btn btn-warning w-25 mx-auto d-block p-2 m-5" >Modifier</a>




{% endblock %}
