{% extends 'base.html.twig' %}

{% block title %}Modif Compte | {{parent()}}{% endblock %}

{% block monTitle %}Profile Utilisateur : {{user.name}}{% endblock %}
{% block body %}

<img src="{{asset('images/imagesUsers/' ~ user.photo)}}" class="_profileImg mx-auto d-block m-4" alt="" >
{{form_start(form)}}
{# {{form_row(form.imageFile)}} #}
<div class="row">
    
    
    
    <div class="col-6  p-5 w-50">
        
        {{form_row(form.name,{"attr" :
        {'class':''},
        "label" :"Nom :"
        })}}

        {{form_row(form.prenom,{"attr":
        {'class':''},
        "label":"Prénom : "
        })}}
    
        {{form_row(form.phone,{"attr":
        {"class":''},
        "label":"Numéro de téléphone :"
        })}}
        
    </div>

    <div class="col-6 p-5">
        
        {{form_row(form.adresse,{"attr":
        {"class":""},
        "label":"Nom de la rue :"
        })}}

        {{form_row(form.ville,{"attr":
        {"class":""},
        "label":"Ville :"
        })}}

        {{form_row(form.codePostal,{"attr":
        {"class" : ""},
        "label":"Code postal : "
        })}}

        
        <input type="submit" class="btn btn-info w-25 mx-auto d-block p-2 m-5" value="Enregistrer" >
        {{form_end(form)}}
    </div>
</div>





{% endblock %}